#bear{
  font-family: Courier New;
  background-color: silver;
  text-align: center;
}

#lion{
 font-family :'Courier New', Courier, monospace;
 background-color: rgb(160, 126, 43);
text-align: center;
}


#ant{
font-family: Courier New;
  background-color:rgb(183, 211, 22);
  text-align: center;
  color: white;

}


#fox{
  font-family: Courier New;
  background-color: rgb(211, 183, 24);
  text-align: center;
  color: rgb(30, 211, 24);
}



.list{
  display: inline-block;
  text-align: left;


  
}