#bear{
  font-family: Courier New;
  background-color: silver;
  text-align: center;
}

#Lion{
 font-family :'Courier New', Courier, monospace;
 background-color: rgb(45, 43, 189);
text-align: center;
}


#ant{
font-family: Courier New;
  background-color:rgb(27, 197, 41);
  text-align: center;
  color: white;

}


#fox{
  font-family: Courier New;
  background-color: rgb(199, 121, 33);
  text-align: center;
  color: white;
}



.list{
  display: inline-block;
  text-align: left;


  
}